{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
 {% if category %}
     {{category.description|truncatewords:155 }}
 {% else %}
    welcome to online shopping store where you can buys different items...
 {% endif %}
{% endblock %}
{% block title %}

     {% if category %}
          {{category.name }}-online shopping store
     {% else %}
          see our new products
     {% endif %}
 {% endblock %}

{% block content %}
{% if category %}
<div>
     <div class="row my-row-class">
            <div class="mx-auto">
              <p><a href="{% url 'shop:allProdCat' %}">Our product collections </a>{{cat.get_url}}</p>
            </div>
     </div>
</div>
{% endif %}
<div>
    {% if category %}
    <img src="{{category.image.url}}" alt="{{category.name}}">
</div>
<br>
<div>
    <h1>{{category.name}}</h1>
    <p>{{category.description}}</p>

</div>
{% else %}
<div>
    <img src="{% static 'img/banner.png' %}" alt="Our Products" width="1250px" height="400px">
</div>
<br>
<div>
<h1>Our product collections</h1>

<p>"Welcome to the Themes team!
We are a group of volunteers who review and approve themes submitted to be included in the official WordPress Theme directory"</p>

</div>
{% endif %}
<div>
    <div>
        {% for product in products %}
        <div>
            <div>
                <a href="{{product.get_url}}"><img src="{{product.image.url}}" alt="{{product.name}}"></a>
                <div>
                    <h4>{{product.name}}</h4>
                    <p>{{product.price}}</p>
                </div>
            </div>
        </div>
{% endfor %}
    </div>
</div>
{% endblock %}